.col-1 {
   max-width: 100%;
}
.text-body {
    background-color:aliceblue;
}

.btn-primary {
    color: #fff;
    background-color: #032a55;
    border-color: #007bff;
}

header {
    background-image: url("https://images.sharefaith.com/images/3/1507570813956_36/img_mouseover3.jpg");
    text-decoration-color: aliceblue;
}







